<div class="row">
  <div class="col-lg-2">
    <%= render :partial => 'layouts/left_menu' %>
  </div>
  <div class="col-lg-10">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-1">  
      </div>
      <div class="col-lg-10">
        <%= render :partial => 'layouts/case_facts' %>
        <center><h3>LLAVE PRIVADA</h3></center><br/>
        <form action= "<%=sign_conclusion_path%>" method= "post" enctype="multipart/form-data">
            <input type="hidden" id="conclusion_id" name="conclusion_id" value="<%=@conclusion.id %>">
            <label>Clave llave privada: </label><input type="password" id="pass_phrase" name="pass_phrase" class="form-control"><br/>
            <label>Llave privada: </label><br/><input type="file" id="key" name="key" class="form-control"><br/>
            <input type="submit" value="Listo" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  </div>
</div>