
<div class="row">
  <div class="col-lg-2">
    <%= render :partial => 'layouts/left_menu' %>
  </div>
  <div class="col-lg-10">
  <div class="jumbotron">
  	
  		  <%= render :partial => 'layouts/case_facts'%>
  </div>
  </div>
  
</div>