
<div class="row">
  <div class="col-lg-2">
    <%= render :partial => 'layouts/left_menu' %>
  </div>
  <div class="col-lg-10">
  <div class="jumbotron">
  </div>
  </div>
  
</div>


<%= link_to 'Editar', edit_case_path(@case) %> |
<%= link_to 'Atras', cases_path %>
