<div class="modal" id="basicModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    <%= form_for @user, :url => { :action => "edit_status" }, :method=>'post' do |i| %>
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title">Editar Estado</h4>
		      </div>
		      <div class="modal-body">
		       <%= i.hidden_field  :id %>
		       <%=i.collection_select(:status, UserStatus.all, :text, :text, {prompt: "-Seleccionar un estado-"}, {class:"form-control"})%><br/>
		      </div>
		      <div class="modal-footer">
		        <div><%= i.submit "Guardar", :name=>'add', :class=>"btn btn-primary" %></div>
		      </div>
		    <%end%>
		    </div>
		  </div>
		  </div>