		  <div class="modal" id="myModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    <div class="modal-edit-fields">
		    <form action="<%=edit_item_path%>" method='post'%>
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title">Editar Objeto</h4>
		      </div>
		      <div class="modal-body">
		      <label>id: </label><p><input type="text" name="Itemid"  id="Itemid" class='form-control' value></p>
		       <label>Nombre: </label><p><input type="text" name="name" class='form-control' /></p>
		       <label>Descripcion: </label><p><input type="text" name="description" class='form-control' /></p>
		       <label>Lugar: </label><p><input type="text" name="place" class='form-control' /></p>
		      </div>
		      <div class="modal-footer">
		        <div><button type="submit"></div>
		      </div>
		    </form>
		    </div>
		    </div>
		  </div>
		  </div>