<h1>Listing direct_actions</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_actions.each do |direct_action| %>
      <tr>
        <td><%= link_to 'Show', direct_action %></td>
        <td><%= link_to 'Edit', edit_direct_action_path(direct_action) %></td>
        <td><%= link_to 'Destroy', direct_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct action', new_direct_action_path %>
